<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    使用spring创建对象
            id = 变量名
            class = new的对象
            property给属性设值
    -->
    <bean id="impl" class="com.kuang.dao.UserDaoImpl"/>
    <bean id="mysqlimpl" class="com.kuang.dao.UserDaoMysqlImpl"/>

<!--    ref指定调用userdao的那个实现类-->
    <bean id="UserServiceImpl" class="com.kuang.service.UserServiceImpl">
        <property name="userDao" ref="impl"/>
    </bean>

</beans>
